Repository instructure/instructure-ui, pull requests merged in 2020-12, with the labels that each got.

#271 WIP(emotion,ui-avatar,ui-view): applying theme js changes from v8 to …
  packages/emotion/README.md
  packages/ui-avatar/package.json
  packages/ui-avatar/src/Avatar/__tests__/theme.test.js
  packages/ui-avatar/src/Avatar/styles.js
  packages/ui-avatar/src/Avatar/theme.js
  packages/ui-view/src/View/theme.js
Labels: Enhancement, Themeable Migration

#277 fix(ui-view): view component should use inline styles again
  packages/ui-view/src/View/index.js
  packages/ui-view/src/View/styles.js
Labels: Themeable Migration, View

#289 INSTUI-2795 - billboard themeable migration
  packages/ui-billboard/package.json
  packages/ui-billboard/src/Billboard/__tests__/theme.test.js
  packages/ui-billboard/src/Billboard/index.js
  packages/ui-billboard/src/Billboard/styles.css
  packages/ui-billboard/src/Billboard/styles.js
  packages/ui-billboard/src/Billboard/theme.js
Labels: Billboard, Themeable Migration

#290 INTUI-2793 - byline themeable migration
  packages/ui-byline/package.json
  packages/ui-byline/src/Byline/index.js
  packages/ui-byline/src/Byline/styles.js
  packages/ui-byline/src/Byline/theme.js
  packages/ui-view/src/View/index.js
Labels: Byline, Themeable Migration

#276 INSTUI-2715 - tag component emotion migration
  packages/ui-tag/package.json
  packages/ui-tag/src/Tag/__tests__/theme.test.js
  packages/ui-tag/src/Tag/index.js
  packages/ui-tag/src/Tag/styles.css
  packages/ui-tag/src/Tag/styles.js
  packages/ui-tag/src/Tag/theme.js
Labels: Tag, Themeable Migration

#300 InstUI-2746 ui-text emotion migration
  packages/ui-text/package.json
  packages/ui-text/src/Text/README.md
  packages/ui-text/src/Text/index.js
  packages/ui-text/src/Text/styles.css
  packages/ui-text/src/Text/styles.js
  packages/ui-text/src/Text/theme.js
Labels: Themeable Migration
