Repository instructure/instructure-ui, pull requests merged in 2021-02, with the labels that each got.

#353 INSTUI-2797 - migrate ScreenReaderContent from themeable…
  packages/ui-a11y-content/package.json
  packages/ui-a11y-content/src/AccessibleContent/__tests__/AccessibleContent.test.js
  packages/ui-a11y-content/src/PresentationContent/__tests__/PresentationContent.test.js
  packages/ui-a11y-content/src/ScreenReaderContent/__tests__/ScreenReaderContent.test.js
  packages/ui-a11y-content/src/ScreenReaderContent/index.js
  packages/ui-a11y-content/src/ScreenReaderContent/styles.js
Labels: ScreenReaderContent, Themeable Migration

#355 INSTUI-2842 - implement modal fix on next branch
  packages/ui-modal/src/Modal/__tests__/Modal.test.js
  packages/ui-modal/src/Modal/index.js
  packages/ui-modal/src/Modal/styles.js
  packages/ui-overlays/src/Mask/index.js
Labels: Modal

#371 INSTUI-2783 - migrate Figure from themeable to emotion
  packages/ui-docs-client/src/Figure/index.js
  packages/ui-docs-client/src/Figure/styles.css
  packages/ui-docs-client/src/Figure/styles.js
  packages/ui-docs-client/src/Figure/theme.js
Labels: Figure, Themeable Migration

#368 INSTUI-2779 - migrate Hero from themeable to emotion
  packages/ui-docs-client/src/Hero/index.js
  packages/ui-docs-client/src/Hero/styles.css
  packages/ui-docs-client/src/Hero/styles.js
  packages/ui-docs-client/src/Hero/theme.js
Labels: Hero, Themeable Migration

#394 INSTUI-2835 change the color of unselected tabs to the same as selected ones
  packages/ui-tabs/src/Tabs/Tab/__tests__/theme.test.js
  packages/ui-tabs/src/Tabs/Tab/styles.js
  packages/ui-tabs/src/Tabs/Tab/theme.js
Labels: Tabs

#393 INSTUI-2872 - remove v8 upgrade notes from docs
  packages/ui-avatar/src/Avatar/README.md
  packages/ui-buttons/src/Button/README.md
  packages/ui-heading/src/Heading/README.md
  packages/ui-img/src/Img/README.md
  packages/ui-view/src/View/README.md
Labels: Themeable Migration
