Repository instructure/instructure-ui, pull requests merged in 2021-07, with the labels that each got.

#624 INSTUI-3185 - warning stripe on legacy doc pages
  packages/__docs__/index.ejs
  packages/ui-docs-client/src/App/index.js
  packages/ui-docs-client/src/App/styles.css
  packages/ui-docs-client/src/Header/index.js
  packages/ui-docs-client/src/versionData.js
Labels: V7

#626 INSTUI-3186 - add warning stripe on legacy doc pages
  packages/ui-docs-client/package.json
  packages/ui-docs-client/src/App/index.js
  packages/ui-docs-client/src/App/styles.css
  packages/ui-docs-client/src/Header/index.js
  packages/ui-docs-client/src/versionData.js
  yarn.lock
Labels: V6

#638 feat(ui-icons-build): update `gulp-svgmin` dependency to v4
  packages/ui-icons-build/lib/tasks/optimize-svgs/index.js
  packages/ui-icons-build/package.json
  yarn.lock
Labels: Icons

#644 fix(ui-options): add aria-hidden to Options label span
  packages/ui-options/src/Options/index.tsx
Labels: Options, Select

#646 fix(ui-options): add aria-hidden to Options label span
  packages/ui-options/src/Options/index.js
Labels: Options, Select, V7

#647 INSTUI-3205 - avatar updates
  packages/ui-avatar/src/Avatar/README.md
  packages/ui-avatar/src/Avatar/__tests__/Avatar.test.js
  packages/ui-avatar/src/Avatar/index.js
  packages/ui-avatar/src/Avatar/styles.css
  packages/ui-avatar/src/Avatar/theme.js
Labels: Avatar, V7

#643 feat(ui-icons): add `important-dates` icon
  packages/ui-icons/svg/Line/important-dates.svg
  packages/ui-icons/svg/Solid/important-dates.svg
Labels: Icons

#641 INSTUI-3171 - avatar updates
  packages/ui-avatar/src/Avatar/README.md
  packages/ui-avatar/src/Avatar/__tests__/Avatar.test.tsx
  packages/ui-avatar/src/Avatar/index.tsx
  packages/ui-avatar/src/Avatar/styles.ts
  packages/ui-avatar/src/Avatar/theme.ts
Labels: Avatar

#651 fix(ui-billboard): fix heading margin when `size` is `small`
  packages/ui-billboard/src/Billboard/styles.ts
Labels: Billboard

#653 feat(ui-icons): add `button-and-icon-maker` icon
  packages/ui-icons/svg/Line/button-and-icon-maker.svg
  packages/ui-icons/svg/Solid/button-and-icon-maker.svg
Labels: Icons

#656 feat(ui-icons): add `button-and-icon-maker` icon
  packages/ui-icons/svg/Line/button-and-icon-maker.svg
  packages/ui-icons/svg/Solid/button-and-icon-maker.svg
Labels: Icons, V7
