Repository instructure/instructure-ui, pull requests merged in 2021-05, with the labels that each got.

#528 Update `terser-webpack-plugin` dependency
  packages/ui-webpack-config/package.json
  yarn.lock
Labels: Security

#532 INSTUI-3016 - menu fix v7 backport
  packages/ui-dialog/src/Dialog/index.js
Labels: Bug, Dialog, Menu, Popover, V7

#548 feat(ui-number-input): add inputMode prop to NumberInput
  packages/ui-number-input/src/NumberInput/__examples__/NumberInput.examples.js
  packages/ui-number-input/src/NumberInput/__tests__/NumberInput.test.js
  packages/ui-number-input/src/NumberInput/index.js
Labels: NumberInput, V7

#538 INSTUI-3017 - fix page scrolling up when Menu opens
  packages/ui-dialog/src/Dialog/index.js
Labels: Bug, Dialog, Menu, Popover, V6

#568 feat(ui-table): add `stackedSortByLabel` prop to `Table.ColHeader`
  packages/ui-table/src/Table/ColHeader/index.tsx
  packages/ui-table/src/Table/Head/index.tsx
  packages/ui-table/src/Table/README.md
  packages/ui-table/src/Table/__tests__/Table.test.tsx
Labels: Table
