Repository instructure/instructure-ui, pull requests merged in 2021-04, with the labels that each got.

#467 INSTUI-2958 - fix AppNav crashing with a single Item
  packages/ui-navigation/src/AppNav/__tests__/AppNav.test.js
  packages/ui-navigation/src/AppNav/index.js
Labels: AppNav

#469 INSTUI-2956 - backport fix to remove line extending into root icon
  package.json
  packages/ui-tree-browser/src/TreeBrowser/README.md
  packages/ui-tree-browser/src/TreeBrowser/TreeCollection/styles.css
Labels: Bug, TreeBrowser, V7

#476 INSTUI-2964 - list root items too when `showRootCollection` is `false`
  packages/ui-tree-browser/src/TreeBrowser/README.md
  packages/ui-tree-browser/src/TreeBrowser/TreeButton/styles.js
  packages/ui-tree-browser/src/TreeBrowser/TreeCollection/index.js
  packages/ui-tree-browser/src/TreeBrowser/TreeNode/index.js
  packages/ui-tree-browser/src/TreeBrowser/__tests__/TreeBrowser.test.js
  packages/ui-tree-browser/src/TreeBrowser/index.js
Labels: Bug, TreeBrowser

#479 INSTUI-2975: fix template app generation error
  packages/template-app/package.json
  packages/template-app/template/webpack.config.js.ejs
  packages/ui-template-scripts/lib/utils/createFromTemplate.js
  yarn.lock
Labels: Bug

#480 INSTUI-2965 - list root items too when `showRootCollection` is `false`
  packages/ui-tree-browser/src/TreeBrowser/README.md
  packages/ui-tree-browser/src/TreeBrowser/TreeCollection/index.js
  packages/ui-tree-browser/src/TreeBrowser/__tests__/TreeBrowser.test.js
  packages/ui-tree-browser/src/TreeBrowser/index.js
Labels: Bug, TreeBrowser, V7

#486 test(ui-drawer-layout): deactivate flaky VRT check
  packages/ui-drawer-layout/src/DrawerLayout/__examples__/DrawerLayout.examples.js
Labels: DrawerLayout, VRT

#483 INSTUI-2949 - remove dash at root icon
  packages/ui-tree-browser/src/TreeBrowser/README.md
  packages/ui-tree-browser/src/TreeBrowser/TreeButton/index.js
  packages/ui-tree-browser/src/TreeBrowser/TreeButton/styles.js
  packages/ui-tree-browser/src/TreeBrowser/TreeCollection/index.js
  packages/ui-tree-browser/src/TreeBrowser/TreeNode/index.js
Labels: TreeBrowser

#489 INSTUI-2977 - tree browser remove dash at root icon
  packages/ui-tree-browser/src/TreeBrowser/README.md
  packages/ui-tree-browser/src/TreeBrowser/TreeButton/index.js
  packages/ui-tree-browser/src/TreeBrowser/TreeButton/styles.css
  packages/ui-tree-browser/src/TreeBrowser/TreeCollection/index.js
  packages/ui-tree-browser/src/TreeBrowser/TreeNode/index.js
Labels: TreeBrowser, V7

#487 INSTUI-2974 - feat(ui-tree-browser): Add new getCollectionProps
  packages/ui-tree-browser/src/TreeBrowser/TreeCollection/__tests__/TreeCollection.test.js
  packages/ui-tree-browser/src/TreeBrowser/TreeCollection/index.js
  packages/ui-tree-browser/src/TreeBrowser/index.js
Labels: TreeBrowser

#496 fix(ui-menu): fix Menu keyboard navigation on submenus
  packages/ui-menu/src/Menu/MenuItem/index.js
  packages/ui-menu/src/Menu/index.js
Labels: A11y Bug, Menu

#505 INSTUI-2987 - fix empty space before or after input
  packages/instui-config/package-lists/v9/package-list.json
  packages/ui-text-input/src/TextInput/README.md
  packages/ui-text-input/src/TextInput/index.js
Labels: Bug, Select, SimpleSelect, TextInput

#514 INSTUI-2995 - export `EmotionThemeProvider` and `withStyle` from ui package
  packages/ui/package.json
  packages/ui/src/index.js
Labels: emotion

#511 fix(ui-list,ui-view): remove invalid "deprecated prop value" warnings
  packages/ui-list/src/List/__examples__/List.examples.js
  packages/ui-list/src/List/index.js
  packages/ui-view/src/View/__examples__/View.examples.js
  packages/ui-view/src/View/index.js
Labels: List, VRT, View

#513 INSTUI-2994 - fix root item rendering with wrong fontFamily
  packages/ui-tree-browser/src/TreeBrowser/TreeCollection/styles.js
Labels: TreeBrowser
