Repository instructure/instructure-ui, pull requests merged in 2021-01, with the labels that each got.

#305 INSTUI-2796 - badge themeable migration
  packages/ui-badge/package.json
  packages/ui-badge/src/Badge/__tests__/Badge.test.js
  packages/ui-badge/src/Badge/__tests__/theme.test.js
  packages/ui-badge/src/Badge/index.js
  packages/ui-badge/src/Badge/styles.css
  packages/ui-badge/src/Badge/styles.js
  packages/ui-badge/src/Badge/theme.js
Labels: Badge, Themeable Migration

#326 fix(ui-modal): fix modal resetting contents when size is changed to/from fullscreen
  packages/ui-modal/src/Modal/__tests__/Modal.test.js
  packages/ui-modal/src/Modal/index.js
  packages/ui-modal/src/Modal/styles.css
Labels: Bug, Modal

#329 INSTUI-2828 - test: temporarily disable tests for unmigrated components
  packages/ui-a11y-content/src/AccessibleContent/__tests__/AccessibleContent.test.js
  packages/ui-a11y-content/src/PresentationContent/__tests__/PresentationContent.test.js
  packages/ui-a11y-content/src/ScreenReaderContent/__tests__/ScreenReaderContent.test.js
  packages/ui-calendar/src/Calendar/Day/__tests__/Day.test.js
  packages/ui-calendar/src/Calendar/Day/__tests__/theme.test.js
  packages/ui-calendar/src/Calendar/__tests__/Calendar.test.js
  packages/ui-calendar/src/Calendar/__tests__/theme.test.js
  packages/ui-checkbox/src/Checkbox/CheckboxFacade/__tests__/CheckboxFacade.test.js
  packages/ui-checkbox/src/Checkbox/CheckboxFacade/__tests__/theme.test.js
  packages/ui-checkbox/src/Checkbox/ToggleFacade/__tests__/ToggleFacade.test.js
  packages/ui-checkbox/src/Checkbox/ToggleFacade/__tests__/theme.test.js
  packages/ui-checkbox/src/Checkbox/__tests__/Checkbox.test.js
  packages/ui-checkbox/src/CheckboxGroup/__tests__/CheckboxGroup.test.js
  packages/ui-code-editor/src/CodeEditor/__tests__/CodeEditor.test.js
  packages/ui-date-input/src/DateInput/__tests__/DateInput.test.js
  packages/ui-drawer-layout/src/DrawerLayout/DrawerContent/__tests__/DrawerContent.test.js
  packages/ui-drawer-layout/src/DrawerLayout/DrawerTray/__tests__/DrawerTray.test.js
  packages/ui-drawer-layout/src/DrawerLayout/__tests__/DrawerLayout.test.js
  packages/ui-motion/src/Transition/__tests__/Transition.test.js
  packages/ui-overlays/src/Mask/__tests__/Mask.test.js
  packages/ui-overlays/src/Overlay/__tests__/Overlay.test.js
  packages/ui-progress/src/Progress/__tests__/Progress.test.js
  packages/ui-progress/src/ProgressBar/__tests__/ProgressBar.test.js
  packages/ui-progress/src/ProgressBar/__tests__/theme.test.js
  packages/ui-progress/src/ProgressCircle/__tests__/ProgressCircle.test.js
  packages/ui-progress/src/ProgressCircle/__tests__/theme.test.js
  packages/ui-radio-input/src/RadioInput/__tests__/RadioInput.test.js
  packages/ui-radio-input/src/RadioInput/__tests__/theme.test.js
  packages/ui-radio-input/src/RadioInputGroup/__tests__/RadioInputGroup.test.js
  packages/ui-range-input/src/RangeInput/__tests__/RangeInput.test.js
  packages/ui-select/src/Select/__tests__/Select.test.js
  packages/ui-select/src/Select/__tests__/theme.test.js
Labels: Themeable Migration

#336 refactor(ui-overlays): migrate styling to Emotion
  packages/ui-overlays/package.json
  packages/ui-overlays/src/Mask/__tests__/Mask.test.js
  packages/ui-overlays/src/Mask/index.js
  packages/ui-overlays/src/Mask/styles.css
  packages/ui-overlays/src/Mask/styles.js
  packages/ui-overlays/src/Mask/theme.js
Labels: Mask

#343 INSTUI-2764 - migrate Transition from themeable to emotion
  packages/ui-motion/package.json
  packages/ui-motion/src/Transition/__tests__/Transition.test.js
  packages/ui-motion/src/Transition/index.js
  packages/ui-motion/src/Transition/styles.css
  packages/ui-motion/src/Transition/styles.js
  packages/ui-motion/src/Transition/theme.js
Labels: Themeable Migration, Transition

#350 INSTUI-2790 - migrate CodeEditor from themeable t…
  packages/emotion/src/index.js
  packages/ui-code-editor/package.json
  packages/ui-code-editor/src/CodeEditor/__tests__/CodeEditor.test.js
  packages/ui-code-editor/src/CodeEditor/index.js
  packages/ui-code-editor/src/CodeEditor/styles.css
  packages/ui-code-editor/src/CodeEditor/styles.js
  packages/ui-code-editor/src/CodeEditor/theme.js
Labels: CodeEditor, Themeable Migration, emotion

#354 INSTUI-2752 - migrate Select from themeable to emotion
  packages/ui-select/package.json
  packages/ui-select/src/Select/__tests__/Select.test.js
  packages/ui-select/src/Select/__tests__/theme.test.js
  packages/ui-select/src/Select/index.js
  packages/ui-select/src/Select/styles.js
  packages/ui-select/src/Select/theme.js
Labels: Select, Themeable Migration

#351 INSTUI-2798 - migrate template-component from themeable to emotion
  packages/instui-cli/lib/handlers/handleCreate.js
  packages/template-component/package.json
  packages/template-component/template/babel.config.js.ejs
  packages/template-component/template/package.json.ejs
  packages/template-component/template/src/{NAME}/__tests__/theme.test.js.ejs
  packages/template-component/template/src/{NAME}/index.js.ejs
  packages/template-component/template/src/{NAME}/styles.css.ejs
  packages/template-component/template/src/{NAME}/styles.js.ejs
  packages/template-component/template/src/{NAME}/theme.js.ejs
Labels: Themeable Migration, template-component
