Repository instructure/instructure-ui, pull requests merged in 2022-01, with the labels that each got.

#857 INSTUI-3355 - deprecate warning text
  docs/guides/v7-deprecated-props-and-components.md
  packages/ui-text/src/Text/README.md
  packages/ui-text/src/Text/index.js
  packages/ui-text/src/Text/styles.css
  packages/ui-text/src/Text/theme.js
Labels: Text, V7

#858 chore(ui-tooltip): add TS types to `ui-tooltip` package
  packages/ui-popover/src/Popover/props.ts
  packages/ui-popover/src/index.ts
  packages/ui-tooltip/babel.config.js
  packages/ui-tooltip/src/Tooltip/__tests__/Tooltip.test.tsx
  packages/ui-tooltip/src/Tooltip/index.tsx
  packages/ui-tooltip/src/Tooltip/props.ts
Labels: Tooltip

#859 INSTUI-3350 ui-tag: position text and close "x" better
  packages/ui-tag/src/Tag/index.tsx
  packages/ui-tag/src/Tag/styles.ts
  packages/ui-tag/src/Tag/theme.ts
Labels: Tag

#863 INSTUI-3066 - TS typing `ui-overlays`
  docs/guides/v9-upgrade-guide.md
  packages/ui-overlays/babel.config.js
  packages/ui-overlays/package.json
  packages/ui-overlays/src/Mask/index.tsx
  packages/ui-overlays/src/Mask/props.ts
  packages/ui-overlays/src/Overlay/index.tsx
  packages/ui-overlays/src/Overlay/props.ts
  yarn.lock
Labels: Mask, Overlay

#868 chore(ui-simple-select): add TS types to `ui-simple-select` package
  packages/ui-select/src/Select/index.tsx
  packages/ui-select/src/Select/props.ts
  packages/ui-select/src/index.ts
  packages/ui-simple-select/babel.config.js
  packages/ui-simple-select/src/SimpleSelect/Group/index.tsx
  packages/ui-simple-select/src/SimpleSelect/Group/props.ts
  packages/ui-simple-select/src/SimpleSelect/Option/index.tsx
  packages/ui-simple-select/src/SimpleSelect/Option/props.ts
  packages/ui-simple-select/src/SimpleSelect/__tests__/SimpleSelect.test.tsx
  packages/ui-simple-select/src/SimpleSelect/index.tsx
  packages/ui-simple-select/src/SimpleSelect/props.ts
  packages/ui-table/src/Table/Head/index.tsx
Labels: SimpleSelect

#865 chore(ui-pagination): add TS types to `ui-pagination` package
  packages/ui-pagination/babel.config.js
  packages/ui-pagination/src/Pagination/PaginationArrowButton/index.tsx
  packages/ui-pagination/src/Pagination/PaginationArrowButton/props.ts
  packages/ui-pagination/src/Pagination/PaginationButton/index.tsx
  packages/ui-pagination/src/Pagination/PaginationButton/props.ts
  packages/ui-pagination/src/Pagination/PaginationPageInput/index.tsx
  packages/ui-pagination/src/Pagination/PaginationPageInput/props.ts
  packages/ui-pagination/src/Pagination/__tests__/Pagination.test.tsx
  packages/ui-pagination/src/Pagination/index.tsx
  packages/ui-pagination/src/Pagination/props.ts
Labels: Pagination

#874 chore(ui-drilldown): add base of `ui-drilldown` package (WIP)
  docs/patterns/DrilldownMenu.md
  packages/__docs__/components.js
  packages/__docs__/package.json
  packages/__docs__/resolve.js
  packages/__docs__/src/Nav/index.js
  packages/shared-types/src/ComponentThemeVariables.ts
  packages/ui-drilldown/.eslintignore
  packages/ui-drilldown/.gitignore
  packages/ui-drilldown/.npmignore
  packages/ui-drilldown/CHANGELOG.md
  packages/ui-drilldown/README.md
  packages/ui-drilldown/babel.config.js
  packages/ui-drilldown/package.json
  packages/ui-drilldown/src/Drilldown/DrilldownLocator.ts
  packages/ui-drilldown/src/Drilldown/README.md
  packages/ui-drilldown/src/Drilldown/__examples__/Drilldown.examples.tsx
  packages/ui-drilldown/src/Drilldown/__tests__/Drilldown.test.tsx
  packages/ui-drilldown/src/Drilldown/__tests__/theme.test.ts
  packages/ui-drilldown/src/Drilldown/index.tsx
  packages/ui-drilldown/src/Drilldown/locator.ts
  packages/ui-drilldown/src/Drilldown/props.ts
  packages/ui-drilldown/src/Drilldown/styles.ts
  packages/ui-drilldown/src/Drilldown/theme.ts
  packages/ui-drilldown/src/index.ts
  packages/ui-drilldown/tsconfig.build.json
  packages/ui-drilldown/tsconfig.json
Labels: Drilldown

#870 fix(ui-range-input): fixed empty label when `displayValue={true}` but…
  packages/ui-range-input/src/RangeInput/__examples__/RangeInput.examples.ts
  packages/ui-range-input/src/RangeInput/index.tsx
Labels: RangeInput

#871 chore(ui-drawer-layout): add TS types to `ui-drawer-layout` package
  packages/ui-drawer-layout/babel.config.js
  packages/ui-drawer-layout/src/DrawerLayout/DrawerContent/__tests__/DrawerContent.test.tsx
  packages/ui-drawer-layout/src/DrawerLayout/DrawerContent/index.tsx
  packages/ui-drawer-layout/src/DrawerLayout/DrawerContent/props.ts
  packages/ui-drawer-layout/src/DrawerLayout/DrawerContent/styles.ts
  packages/ui-drawer-layout/src/DrawerLayout/DrawerTray/index.tsx
  packages/ui-drawer-layout/src/DrawerLayout/DrawerTray/props.ts
  packages/ui-drawer-layout/src/DrawerLayout/__fixtures__/DrawerLayout.fixture.tsx
  packages/ui-drawer-layout/src/DrawerLayout/index.tsx
  packages/ui-drawer-layout/src/DrawerLayout/props.ts
Labels: DrawerLayout

#882 INSTUI-3388 - changes in options for drilldown
  packages/shared-types/src/ComponentThemeVariables.ts
  packages/ui-options/src/Options/Item/__examples__/Item.examples.ts
  packages/ui-options/src/Options/Item/__tests__/Item.test.tsx
  packages/ui-options/src/Options/Item/__tests__/theme.test.ts
  packages/ui-options/src/Options/Item/index.tsx
  packages/ui-options/src/Options/Item/props.ts
  packages/ui-options/src/Options/Item/styles.ts
  packages/ui-options/src/Options/Item/theme.ts
  packages/ui-options/src/Options/README.md
Labels: Options
